# Configurações do Django
DEBUG=True
SECRET_KEY=sua-chave-secreta-aqui
ALLOWED_HOSTS=localhost,127.0.0.1

# Configuração do Banco de Dados (PostgreSQL)
DATABASE_URL=postgres://usuario:senha@localhost:porta/nome_do_banco
