# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env/
.env

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Playwright / scraping
playwright-profile/

# ignora tudo dentro de data
data/*

# mas permite diretórios
!data/*/

# permite os arquivos de estrutura
!data/.gitkeep
!data/*/.gitkeep

# tailwind
node_modules/
theme/static/css/dist/

# Garante que as configurações de frontend SEJAM versionadas
!theme/static_src/package.json
!theme/static_src/package-lock.json
