{% load static tailwind_tags django_browser_reload i18n %}
<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otmundi - {% block title %}{% endblock %}</title>
    
    {% tailwind_css %}
    
    <script src="{% static 'vendor/htmx.min.js' %}" defer></script>
</head>
<body class="min-h-screen flex flex-col bg-base-100 text-base-content">

    <header class="navbar bg-base-100 px-4">
        <div class="flex-1">
            <a href="/" class="btn btn-ghost text-xl font-black tracking-tighter">
                OT<span class="text-primary">MUNDI</span>
            </a>
        </div>
        <nav class="flex-none">
            <ul class="menu menu-horizontal px-1 gap-2">
                <li><a href="/" class="rounded-btn">{% translate "Dashboard" %}</a></li>
                {% if user.is_authenticated %}
                    <li><a href="#" class="btn btn-ghost btn-sm">{% translate "Meu Perfil" %}</a></li>
                {% else %}
                    <li><a href="#" class="btn btn-primary btn-sm">{% translate "Login" %}</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {# Área de Conteúdo Principal #}
    <main class="grow container mx-auto p-4">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer footer-center p-10 bg-base-100">
        <aside>
            <p class="font-bold text-lg">Otmundi Project</p> 
            <p>{% translate "Monitoramento Inteligente de Bosses" %} © {% now "Y" %}</p>
        </aside>
    </footer>

    {% if debug %}
        {% django_browser_reload_script %}
    {% endif %}
</body>
</html>
